---
import translations from "@utils/t.ts";
import Layout from "@layouts/Layout.astro";
import Container from "@src/components/Container.astro";
import PageHeader from "@src/components/PageHeader.astro";

const t = translations(Astro.url);
---

<Layout title="Hotjar Courses" description="Hotjar Courses">
	<Container>
		<div class="mt-6 w-full p-4"><a href="/">← Back to Home</a></div>
		<div class="flex w-full">
			<div class="flex-1 p-4">
				<PageHeader class="m-0 mb-2 font-bold" headingLevel="h2">Hotjar Courses</PageHeader>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis sapien massa, sed lacinia diam sollicitudin non. Sed
					volutpat, libero ac sollicitudin fringilla, lectus ante egestas nisl, nec imperdiet turpis nisl ac neque. Cras ipsum risus,
					suscipit vel elit non, tristique suscipit risus. Vestibulum rutrum risus a luctus fringilla. Aenean vehicula odio at varius
					mollis. Phasellus lacinia, tellus ac finibus laoreet, mauris augue vehicula ex, quis rutrum dolor nunc egestas velit. Duis rhoncus
					at enim accumsan molestie. Nunc eleifend nisl ut sem tincidunt auctor. Morbi dapibus imperdiet lectus. Sed eu elit facilisis,
					ultrices mauris vel, ultricies nibh. Fusce malesuada felis ex, at elementum orci malesuada id. Nunc placerat ac nunc eu interdum.
				</p>
			</div>
			<div class="flex-2 p-4">
				<PageHeader class="m-0 mb-2 font-bold" headingLevel="h2">Samples</PageHeader>
				<ul>
					<li><a href="/">Lorem ipsum dolor ↗</a></li>
					<li><a href="/">Lorem ipsum dolor ↗</a></li>
					<li><a href="/">Lorem ipsum dolor ↗</a></li>
					<li><a href="/">Lorem ipsum dolor ↗</a></li>
				</ul>
			</div>
		</div>
	</Container>
</Layout>
