---
import HeaderLink from "@components/Link.astro";
import LanguageSelector from "@components/LanguageSelector.astro";
import { localizePath } from "@utils/t.ts";
// import ThemeSelector from "@components/ThemeSelector.astro";
import { SITE_TITLE, PAGES } from "@src/consts";

const url = Astro.url;
---

<header class="relative z-10 mx-auto flex max-w-screen-xl md:flex-row md:items-center md:justify-between md:px-6 md:pt-2 lg:px-8 lg:py-4">
	<div class="flex flex-1 items-center justify-between p-4">
		<a
			href={localizePath("/", url)}
			class="focus:shadow-outline flex items-center gap-3 rounded-lg text-lg font-semibold uppercase tracking-widest text-gray-900 focus:outline-none dark:text-white">
			{SITE_TITLE}
		</a>
	</div>
	<div class="flex-2 p-4">
		<!-- <ThemeSelector /> -->
		<p class="flex flex-1 pl-4">Customer Education Manager</p>
	</div>
</header>
